.login-card {
    width:400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
}

.login-logo {
    margin-bottom: 20px;
    /* centrar */
    display: flex;
    justify-content: center;

}